
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="../static/js/events.js"></script>
  </head>
  <body>
    <div ng-app="EventsModule">
      <div ng-controller="EventsModule.EventsController">
        
        <div>
          <h2>Events</h2>
        </div>


        <div> 
          <input type="text" ng-model="field1" placeholder="Enter value here"/>
          <button id="addbutton" type="submit">Add</button>
          
          <br/>
          
          <table class="table table-condensed table-hover table-bordered">
            <thead>
              <tr>
                <th>Items 1</th>   
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in items">  
                  <td>{{ item.value }}</td>
              </tr>
            </tbody>
          </table>



          <table class="table table-condensed table-hover table-bordered">
            <thead>
              <tr>
                  <th>Items 2</th>   
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="i in items2">  
                  <td>{{ i.value }}</td>
              </tr>
            </tbody>
          </table>

          
        </div>
        

        
      </div>
    </div>
  </body>
</html>

